#include "board_init.h"

#include "stm32f3xx_hal_gpio.h"

namespace board {

void init_clock()
{
    {% for bus, peripherals in buses.items() %}
    RCC->{{ bus }}ENR = {{ " | ".join(peripherals) }};
    {% endfor %}
}

void init_gpio()
{
    {% for gpio in gpio_configs %}
    {
        GPIO_InitTypeDef init{};
        init.Pin = {{ gpio.pins | map("string") | prefix_items("GPIO_PIN_") | join(" | ") }};
        init.Mode = GPIO_MODE_{{ gpio.mode }};
        init.Pull = GPIO_{{ gpio.pull }};
        init.Speed = GPIO_SPEED_{{ gpio.speed }};
        {% if gpio.altfun > 0 %}init.Alternate = {{ gpio.altfun }};{% endif %}
        HAL_GPIO_Init({{ gpio.port }}, &init);
    }
    {% endfor %}
}

} // namespace board
